<!DOCTYPE HTML>
<HTML>
    <head>
        <meta charset ="utf-8">
        </head>
        <title>HELP PAGE
            </title>
        <BODY>
            <h1>About Page</h1>
{{> footer}}
        </BODY>
</HTML>
