<header>
    <h1>
        {{PageTitle}}
    </h1>
    <p>
       <b><p><a  href = "/">Home</a></p>
      <b><p><a  href = "/about">about</a></p>
      <p><a href = "/project">Project</a>
    </p>
</header>