<html>
    {{> header}}
        <title>
           {{pageTitle}}
            </title>
            
            <body>
                <h1>{{welcome}}</h1>
                <p>click to continue<p>
                    {{> footer}}
            </body>
            </html>

        